@import '~bootstrap/dist/css/bootstrap.min.css';
/* 
    How to use fonts:
        font-family: 'PT Sans', sans-serif;
        font-family: 'Share Tech Mono', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --primary-color: #040d21;
    --secondary-color: #a2facf;
    --primary-text-color: rgb(161 160 160);
    --secondary-text-color: rgba(255,255,255, 0.8);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.text-dark p, .text-dark h1, .text-dark h2, .text-dark h3, .text-dark h4, .text-dark h5, .text-dark h6, .text-dark li {
    color: var(--primary-color);
}

p, h1, h2, h3, h4, h5, h6, li {
    color: var(--primary-text-color);
    font-family: 'PT Sans';
}

h3 {
    font-weight: bolder;
    font-size: 4rem;
    padding-bottom: 1rem;
    font-family: 'Share Tech Mono';
}

.text-gradient-blue {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.text-gradient-orange {
    background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.text-gradient-green {
    background: -webkit-linear-gradient(-70deg, #70ffa7 0%, #fffd7f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


.text-monospace {
    font-family: 'Share Tech Mono', monospace !important;
}


/* Custom bootstraps */
.bottom-0 {
    bottom: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    left: 0;
}
