.pageBackground {
  background: black;
}

.page-container {
  background: white;
}

body {
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .page-container {
    margin: 0 auto;
    width: 1000px;
  }  
}

nav {
  width: 100%;
}
nav-text-container


.hero-block-red {
    background-image: url(img/red.png);
    background-repeat: no-repeat;
    background-size: 934px;
    background-position: 44% 52%;
    height: 180px;
}


.nav-row-container {
  background-color: #A50808;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
}

/*  NAV LEFT */
.nav-left-group { 
  margin-left:-5px;
}

.nav-list {
  display: inline-block;
}

.nav-left-group li {
  list-style-type: none;
  list-style: none;
  float: left;
  margin: 0px;
  padding: 0 5px 0 5px;
  
}

.nav-left-group li a{
  text-decoration: none;
  color: white;
  margin: 0 30px 0 30px;
}

.nav-left-group li a:hover{
  text-decoration: none;
  color: black;
}

  .full-logo-when-mobile {
    display: none;
  }

  .nav-logo-full-group {
    display: none;
  }
  .nav-logo-abbrev-group {
    margin-top:-2px;
  }


@media screen and (max-width: 474px) {
  .nav-left-group {
    display: none;
  }
  .nav-logo-abbrev-group {
    display: none;
  }
  .full-logo-when-mobile {
    display: inherit;
    float: left;
    margin: 18px 0 0 20px;
  }
}

/* Slider */
.slider {
  margin-top: -1px;
}






/* flex menu*/


.flexContainer  {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  background: #A50808;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding-top: 10px;
  padding-bottom: 18px;
  z-index: 100;
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.flexItem {
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}

.flexItem, a:link, a:visited {
    text-decoration: none;
}

.flexContainer a:hover {
  color: black;
  border-bottom: 3px solid black;
}


.flexItem img {
  width: 100px;
}

/*  MENU V */
.nav-right-drop-menu-group {
  display: none;
}

@media screen and (max-width:600px) {
  .flexItem {
    display: none;
  }

  .nav-right-drop-menu-group {
    display: inherit;
    float: right;
  }
  .nav-right-drop-menu-group li {
  list-style-type: none;
  list-style: none;
  float: left;
  margin: 5px;
  padding-right: 20px;
  margin-top: -5px;
  font-size:1.5em;
  }

  .nav-right-drop-menu-group li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
  .nav-right-drop-menu-group img {
    width: 182px;
    height: auto;
    float:left;
  }
  ul {
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
  .dropbtn {
    color: white;
    font-size: 2.3em;
    border: none;
    background: none;
    margin-left: -15px;
}
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: right;
  }
  .dropdown-content a:click {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropdown:hover .dropbtn {
      background-color: black;
      border-radius: 0;
  }
}

/*JS Slider */
.JS-slider {
  margin-top:100px;
}

.jssorl-004-double-tail-spin img {
            animation-name: jssorl-004-double-tail-spin;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;stroke:#000;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}



/* Titles Decoration */
h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2em;
  text-align: center;
  margin: 31px 0 -15px 0;
}

.titleSword {
  width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:468px) {
  .titleSword {
    width: 350px;
    margin-top: 5px;

  }
}

@media screen and (max-width:372px) {
  .titleSword {
    width: 315px;
    margin-top: 8px;
  }
}

@media screen and (max-width:324px) {
  .titleSword {
    width: 250px;
    margin-top: 10px;
  }
}




/* About menu */
.aboutSection {
  padding-left: 10px;
  padding-right: 10px;
}

.aboutSection p {
  font-family: 'Montserrat', sans-serif;

}

@media screen and (max-width:600px) {
.aboutSection p {
  font-size: .8em;
  }
}

@media screen and (max-width:360px) {
.aboutSection p {
  font-size: .6em;
  }
}



/* Hours Section */
.hours-section {
  background-image: url(img/red-dragon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 710px;
  background-size: 100%;
  width: 100%;
  background-attachment: fixed;
}
.hours-section h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  padding-top:20px;
  margin-bottom: 0;
}

#hours-happyHours {
  margin-top: -30px;
}

.hours-section p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
 }
.hours-title {
  color: white;

}
.hours-text {
  color: white;
  line-height: 28.8px;
  font-size: 28.8px;
}
.hours-section {
  background-image: url(img/red-dragon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 710px;
  background-size: 100%;
  width: 100%;
  background-attachment: fixed;
}
.hours-section h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  padding-top:20px;
  margin-bottom: 0;
}
#hours-happyHours {
  margin-top: -30px;
}
.hours-section p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
 }

 @media screen and (max-width:768px) {
  .hours-section {
    background-image: url(img/red-dragon-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    background-size: 100%;
    width: 100%;
    background-attachment: scroll;
  }
    .hours-section h2{
    font-size: 30px;
  }
    .hours-section p{
    line-height: 30px;
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width:526px) {
    .hours-section {
    background-image: url(img/red-dragon-mobile.jpg);
    height: 460px;

  }
    .hours-section h2{
    font-size: 25px;
  }
    .hours-section p{
    line-height: 25px;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width:396px) {
    .hours-section {
    height: 480px;
}

.hours-title {
  color: white;
}

.hours-text {
  color: white;
  line-height: 28.8px;
  font-size: 28.8px;
  }
}

/* Directions Section */
.directionsSection {
  display: flex;
}

@media screen and (max-width: 750px) {
.directionsSection {
    display: inline-block;
    width: 100%;
  }
}

.directionsSection span {
  font-family: 'Montserrat', sans-serif;
 }

.row-entry-2col {
  margin: 1%;
}

@media screen and (max-width: 750px) {
.row-entry-2col {
  margin-left: 10%;
  margin-right: 10%;
  }

#directionsMap {
  text-align: center;
  margin-top: 5%;
}
}

@media screen and (min-width: 518px) {
.directionsMap-large {
  display: initial;
  }
.directionsMap-medium{
  display: none;
  }
.directionsMap-small {
  display: none;
  }
}

@media screen and (max-width: 517px) {
.directionsMap-large {
  display: none;
  }
.directionsMap-medium {
  display: initial;
  }
.directionsMap-small {
  display: none;
  }
}

@media screen and (max-width: 385px) {
.directionsMap-large {
  display: none;
  }
.directionsMap-medium{
  display: none;
  }
.directionsMap-small {
  display: initial
  }
}

/* Menu Section */
.menuSection {
  background: #A50808;
  padding-bottom: 10px;
}
.menuSection h1 {
  padding-top: 25px;
}
button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.menuButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6.5%;
  margin-right: 6.5%;

}

.menuButton-choices {
    background: #870707;
    border: 1px solid black;
    font-size: 1em;
    padding: 10px 36.5px 10px 36px;
    margin-top: 24px;
    color: white;
}

@media screen and (max-width: 870px) {
.menuButton-choices {
    font-size: .7em;
    padding: 10px 35px 10px 34.5px;
}

}

@media screen and (max-width: 700px) {
.menuButton-choices {
    font-size: .7em;
    padding: 8px 30px 8px 30.5px;
}

}

@media screen and (max-width: 620px) {
.menuButton-choices {
    font-size: .7em;
    padding: 8px 25px 8px 25.5px;
}

}

@media screen and (max-width: 550px) {
.menuButton-choices {
    font-size: .7em;
    padding: 8px 20px 8px 20.5px;
}

}
@media screen and (max-width: 500px) {
.menuButton-choices {
    font-size: .65em;
    padding: 8px 15px 8px 15.5px;
}

}

@media screen and (max-width: 415px) {
.menuButton-choices {
    font-size: .6em;
    padding: 8px 10px 8px 10px;
}

}

@media screen and (max-width: 350px) {
.menuButton-choices {
    font-size: .55em;
    padding: 8px 8px 8px 8px;
}

}

/* Sub Menu Buttons */
.submenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.submenuButton-choices {
    background: black;
    border: 1px solid white;
    font-size: .7em;
    padding: 10px 35px 10px 34.5px;
    margin-top: 24px;
    color: white;
}

@media screen and (max-width: 883px) {
.submenuButton-choices {
    font-size: .5em;
    padding: 10px 25px 10px 24.5px;
} 
}

@media screen and (max-width: 697px) and (min-width:548px) {
#noodles-subMenu {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
} 
}

@media screen and (max-width: 549px) and (min-width:486px) {
#teriyaki-subMenu {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}
#bento-subMenu {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}
#noodles-subMenu {
    padding-top: 21px;
    padding-bottom: 21px;
}  
}

@media screen and (max-width: 485px) {
#noodles-subMenu {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
}  
}


@media screen and (max-width: 485px) {
.submenuButton-choices {
    font-size: .4em;
    padding: 8px 15px 8px 14.5px;
}
}

@media screen and (max-width: 365px) {
.submenuButton-choices {
    font-size: .4em;
    padding: 8px 10px 8px 9.5px;
}
}



/* Menu text box */
.menuText {
  background: white;
  margin-left: 6.5%;
  margin-right: 6.5%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom:  1px solid black;
}
#h2First {
  margin-top: -5px;
}

.menuText h2{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: sans-serif;
  border-bottom: solid 1px black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.menuText h4 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: -10px;
  padding-left: 5px;
  padding-right: 5px;
}
.menuText p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.flex-center {
  display: inline-flex;
  width: 73%;
  margin: 1%;
  justify-content: flex-start;
}

.flex-center-price {
  display: inline-flex;
  width: 19%;
  margin: 1%;
  justify-content: flex-end;
}

.flex-first-item {
  display: inline-flex;
  width: 46%;
  margin: 1%;
  justify-content: flex-start;
}

.flex-center-second-item {
  display: inline-flex;
  width: 46%;
  margin: 1%;
  justify-content: flex-start;
}

.flex-center-1third {
  display: inline-flex;
  width: 30%;
  margin: 1%;
  justify-content: flex-start;
}

.sushiRolls-Text, 
.mainMenu-Text, 
.desserts-Text, 
.lunch-Text, 
.happyHour-Text{
display:none;
}


footer {
  background: #A50808;
}

footer h3 {
  color:black;
  margin: 0;
}

footer img {
  height: 30px;
  margin: 1%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: white;
}

.footer-flexContainer {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.flex-center-right {
  text-align: right;
  align-content: right;
  flex:auto;
  margin-right: 6.5%;
}

.flex-center-left {
  align-self: flex-start;
  margin-left: 6.5%;
}

@media screen and (max-width: 680px) {
  footer h3 {
    color:black;
    margin-bottom: -10px;

  }
  .footer-flexContainer {
    display: inline-flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .flex-center-right {
    width: 100%;
    text-align: center;
    align-content: center;
    flex:auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .flex-center-left {
    width: 100%;
    text-align: center;
    align-content: center;
    flex:auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
  }
  
  }


.row-container:after {
  /* clearfix for floated child elements */
  clear: both;
  content: "";
  display: table;
}


/*Spacers*/
.right-space-10px {
  margin-right: 10px;
}

.space-below {
  margin-bottom: 20px;
}