/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by{ float:none;}
.container { width:auto; padding:0 20px;}
.header { width:100%; padding:0; position:relative;}
.logo{ float:none; text-align:center; margin:0 auto; padding:8px 0; width: auto;}
.logo h1{ margin-bottom:0;}
.header-right{ float:none; width:auto; text-align:center;}
.phoneemail{ font-size:12px; padding:5px 10px;}
article.hentry{ margin-bottom:30px;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
.fourbox{ float:none; width:auto; margin:0 0 15px;}
#wrapfirst, #wrapsecond{ padding:40px 0;}
/* --------- Pages ------- */
.content-area{ width:auto; margin:0; padding:50px 20px;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
h2.section-title{ font-size:22px; line-height:26px;}
.nivo-caption, .nivo-controlNav{ display:none !important;}
.copyright-wrapper{ text-align:center;}
h2.section_title{ text-align:center;}
.BlogPosts{ float:none; width:auto; margin:0 0 10% 0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
}

/* Mobile Landscape View */
@media screen and (min-width:481px) and (max-width: 767px){	
.container, .content-area{ width:440px; margin:0 auto;}
.nivo-caption, .nivo-controlNav{ display:block !important;}
.slide_info h2{ font-size:20px !important; line-height:30px; text-shadow:1px 0 0 #333;}
.slide_info h2 span{ font-size:30px !important;}
.slide_info p{ padding:5px 0 !important;  font-size:13px !important; display:none;}
.headertop .left{ font-size:16px;}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
*{box-sizing:border-box;}
.social-icons a{ box-sizing:content-box; margin-bottom:5px; }
.container { width:auto; padding:0 20px;}
.logo{ width:35%;}
.header-right{ width:60%;}
/*slider css*/
.slide_info h2{ font-size:24px !important; line-height:30px; }
.content-area{ width:auto; margin:0; padding:50px 20px;}
#sidebar{ width:30%;}
.site-main{ width:65%;}
.fourbox{ width:23.3%; margin-right:2%;}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:981px) { 
.logo{ width:25%;}
.header-right{ width:75%;}
}

@media screen and (max-width: 980px){
.toggleMenu{display: block;}
.sitenav{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; border-radius:0; top:0; border-bottom:none; }
.sitenav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.sitenav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left; border-bottom:none !important}
.sitenav ul li a{padding:5px 10px !important; display:block; color:#000; border:none;}
.sitenav ul li a:hover, .sitenav ul li.current_page_item a{color:#ffae00;  border:none;}
.sitenav ul li ul, .sitenav ul li ul ul{ display:block !important;}
.sitenav ul li ul li a:before{content:"\00BB \00a0";}
.sitenav ul li ul li a{padding-left:20px !important; }
.sitenav ul li ul li a{ border:none;}
.sitenav ul li ul li ul li a{padding-left:30px !important;}
.sitenav ul li ul li ul li ul li a{padding-left:40px !important;}
.sitenav ul li:hover > ul{ background:none !important; box-shadow:none;}
.sitenav ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0; padding:0;}
.sitenav ul li:hover ul li ul, .sitenav ul li:hover ul li:hover > ul, .sitenav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.sitenav ul li:hover ul li:hover ul, .sitenav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
}